@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Londrina+Shadow&family=Truculenta:opsz,wdth,wght@12..72,125,100..900&display=swap');


html, body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
    max-width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    flex-direction: column; 
    overflow-x: hidden;
}

body{
    width: 100%;
    margin-top: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #00000000;
    text-align: center;
    font-size: 14px;
}

a:hover{
    color: #428bca;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Truculenta', 'times new roman', 'helvetica';
    color: #444444;
}

ul {
margin: 0;
}

.bg-steel {
background-color: #52604f;
}

.site-header{
    font-family: 'Truculenta', 'times new roman', 'helvetica';
    font-size: 20px;
    font-weight: bold;
    background-color: #d6e8d2;

}

/* Sidebar Styles for Small Screens */
/* Default navbar styles */
.navbar {
    transition: all 0.3s ease-in-out;
}

/* Sidebar Styles for Small Screens */
@media (max-width: 768px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: #3a4034f2;
        padding-top: 20px;
        transition: 0.3s ease-in-out;
        z-index: 1000;
    }

    .navbar-collapse.show {
        right: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;
    }

    .navbar-toggler {
        position: absolute;
        font-size: 15px;
        right: 10px;
        top: 10px;
    }


    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .close-btn:hover {
        color: red;
    }
}


@media (min-width: 768px) {
    .close-btn {
        display: none;
    }
}

.navbar-nav .nav-link {
    font-family: 'Truculenta', 'times new roman', 'helvetica';
    font-size: 18px;

}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.navbar-brand{
    color: rgb(255, 242, 95);
}

#logout {
    font-family: 'Truculenta', 'times new roman', 'helvetica';
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

#logout:hover{
    color: #ffffff;

}

/* MESSAGE ALERTS */
.message-popup-container {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto;
    max-width: 90%;
    text-align: center;
    pointer-events: none; /* So it doesn't block clicks */
}

.popup-alert {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    opacity: 0.95;
    pointer-events: auto;
    animation: fadeOut 4s ease-in-out forwards;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}
.alert-error, .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Info (blue) */
.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

/* Warning (yellow) */
.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}


/* Optional: Fade out animation */
@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
}


/* BASE.HTML */
.main-container{
    flex: 1;
}

.main-container {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%; /* Prevent overflow */
    overflow-x: hidden;
}

.row{
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.artspire{
    font-family: 'Truculenta', 'times new roman', 'helvetica';
}

.login-page{
    margin-left: 30px;
    margin-right: 30px;

}

#login-font{
    font-family: 'Truculenta', 'times new roman', 'helvetica';

}

#login-btn{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#forgot-pass-signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

.welcome-register{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.content-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;

}

#register-btn{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

button{
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* HOME PAGE */
.weekly-challlenge{
    font-family: "Londrina Shadow",'Truculenta', 'times new roman';
    font-size: 80px;
    margin-top: 0;
    font-display: flex;
    justify-content: center;
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.weekly-prompt{
    margin-top: 100px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;

}

.header-challenge{
    /* margintop: 180px; */
    margin-bottom: 100px;
    background-color: #d6e8d2;
    padding-top: 20px;
    padding-bottom: 60px;
    width: 100%;
    height: 500px
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 100%;
}

.banner-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    padding-bottom: 50px;
}

.paragraph{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;

}

.daily-challenge{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category-container{
    margin-bottom: 80px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.categories{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;

}

.category{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.feedback-container{
    margin-top: 50px;
    margin-bottom: 80px;
}

.feedback-form{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;


}

.form-title{
    display: flex;
    justify-content: center;
}

.feedback-paragraph{
    padding-left: 60px;
    padding-right: 60px;

}

.actual-form{
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 30px;
}

.feedback-submit-btn{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;

}

/* CATEGORY_TEMPLATE.HTML */
.category-template-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.category-title{
    font-family: "Londrina Shadow",'Truculenta', 'times new roman';
    font-size: 50px;
    /* margin-bottom: 150px; */
}

.category-title{
    display: flex;
    justify-content: center;
}

.generate-prompt-btn{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid,#f8b2bc; 
    background-color:#f8b2bc;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-btn-container{
    display: flex;
    justify-content: center;
}

.prompt-text-container{
    display: flex;
    justify-content: center;
}

#prompt-text{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 40px;
    margin-right: 40px;
}

/* COMMUNITY SECTION */
#content-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    max-width: 700px;
}

.post-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.content-section {
    width: 100%;
    max-width: 700px;
    border-radius: 12px;
    background-color: #f0f6ef;
    padding: 20px;
    margin-bottom: 2rem;
}

.media-body{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.username-info{
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.post-detail-container{
    margin-top: 80px;
    padding: 1rem;
    max-width: 800px;
    margin: auto;
}

.post-name{
    margin-left: 50px;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
    object-fit: contain;
}


#read-more-btn{
    color: #414b3e;
    text-decoration: none;
    border: 1px solid, #d6e8d2; 
    background-color: #d6e8d2;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#post-detail {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 1rem;
}


#author-edit-container{
    margin-left: 30px;
    margin-bottom: 40px;
}

.update-delete{
    margin-left: 50px;
    cursor: pointer;
}

#update-btn{
    color: #414b3e;
    text-decoration: none;
    border: 1px solid, #d6e8d2; 
    background-color: #d6e8d2;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#delete-btn{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #ff0000; 
    background-color: #ff0000;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#post-title{
    margin-left: 80px;
    margin-bottom: 20px;
}

#error-message{
    color: red;
    display: none;
    padding: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
  }

img.post-img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.like-btn-container{
    background-color: none;
    border: none;
    cursor: pointer;
}

.like-btn-container.liked img {
    filter: brightness(0) saturate(100%) invert(29%) sepia(89%) saturate(7470%) hue-rotate(349deg) brightness(98%) contrast(110%);
}


.post-texts-container{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.comment-container{
    margin-top: 60px;

}

#comments-section{
    margin-top: 30px;

}

.comment{
    margin-bottom: 30px;
}

#add-comment-btn{
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.edit-comment{
    width: 60px;
    color: #414b3e;
    text-decoration: none;
    border: 1px solid, #d6e8d2; 
    background-color: #d6e8d2;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.delete-comment{
    /* width: 60px; */
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #ff0000; 
    background-color: #ff0000;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.report-post-container{
    margin-top: 60px;
}

#report-post{
    margin-left: 30px;
    color: #000000;
    text-decoration: none;
    border: 1px solid, #ffc107; 
    background-color: #ffc107;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#community-post{
    font-family: 'Truculenta', 'times new roman', 'helvetica';

}

.form-content-section{
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;

}

#creat-post-btn{
    margin-top: 20px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}


/* USER POSTS PAGE */
.user-posts-container{
    margin-top: 80px;
}





/* PROFILE PAGE */
.profile-content-section{
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.profile-section{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.profile-pic{
    margin-right: 10px;
    width: 40px; 
    height: 40px; 
    object-fit: cover;
    border-radius: 50%;
}

.profile-details{
    display: flex;
    align-items: center;
}

#profile-info-text{
    font-family: 'Truculenta', 'times new roman', 'helvetica';

}

.custom-readonly {
    background-color: #f8f9fa;
    color: #333;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    margin-bottom: 10px;
}

.custom-upload {
    border: none;
    font-size: 14px;
}

#id_current_image{
    cursor: pointer; 
    text-decoration: underline; 
    color: #2c8bff;
    background-color: #ffffff00;

}

.input-group-append{
    margin-left: 10px;
}

#update-profile-btn{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid, #7d513b; 
    background-color: #7d513b;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.post-history-container{
    margin-top: 40px;
    margin-bottom: 50px;

}



/* TAG FILTER PAGE */
.tag-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive */
  gap: 20px;
  width: 100%;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;

}

.thumbnail-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.tag-post-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.tag-name{
    margin-top: 80px;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;  

}

.post-btn{
    background-color: #ffffff00;
    color: #ffffff00;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
}

.image-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.image-grid img:hover {
    transform: scale(1.02);
}


/* FOOTER */
footer {
    font-family: 'Truculenta', 'times new roman', 'helvetica';
    font-size: small;
    color: black;
    background-color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    width: 100%;
    height:30px;
    position: relative;
    margin-top: 40px;
}

.footerbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}