{% extends "blog/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
    <div class="header-challenge">
        <div class="banner">
            <div class="banner-header">
                <h2 class="weekly-challlenge">Weekly</h2>
                <h2 class="weekly-challlenge">Challenge :</h2>
            </div>

            <p class="weekly-prompt">{{ challenge.challenge_text }}</p>
        </div>
    </div>

    <h5 class="paragraph">Have an artist block? Getting back into art? Starting a new hobby? Spark your creativity and imagination just by a click of a button!
        Pick and choose from the categories and generate as much prompts as you want. <br>
        Develop consistant creative skills by joining the weekly or daily (or both) challenge. Feel free to use any medium you prefer.
        Post on our community to share your artworks with other artists.
    </h5>
    <div class="category-container">
        <div class="random-prompts">
            <div class="category-header">
                <h4 class="choose-from">CHOOSE FROM THE WEEKLY CHALLANGE OR THE DAILY CHALLANGE</h4>
                <h2 class="daily-challenge">DAILY Challenge</h2>
                <h6>Join our challenges by using #Animal, #Characters, #Food etc.. in your Community Posts. Have Fun! 😉 </h6>
            </div>

            <div class="categories">
                <a class="category" href="{% url 'daily_challenge' 'animals' %}" data-category="animals">ANIMALS</a>
                <a class="category" href="{% url 'daily_challenge' 'characters' %}" data-category="characters">CHARACTERS</a>
                <a class="category" href="{% url 'daily_challenge' 'space' %}" data-category="space">SPACE</a>
                <a class="category" href="{% url 'daily_challenge' 'nature' %}" data-category="nature">NATURE</a>
                <a class="category" href="{% url 'daily_challenge' 'emotions' %}" data-category="emotions">EMOTIONS</a>
                <a class="category" href="{% url 'daily_challenge' 'food' %}" data-category="food">FOOD</a>
                <a class="category" href="{% url 'daily_challenge' 'fantasy-mythology' %}" data-category="fantasy-mythology">FANTASY & MYTHOLOGY</a>
                <a class="category" href="{% url 'daily_challenge' 'tiny-worlds' %}" data-category="tiny-worlds">TINY WORLDS</a>
                <a class="category" href="{% url 'daily_challenge' 'abstract-surreal' %}" data-category="abstract-surreal">ABSTRACT / SURREAL</a>
                <a class="category" href="{% url 'daily_challenge' 'alternate-universe' %}" data-category="alternate-universe">ALTERNATE UNIVERSE</a>
            </div>

        </div>

{% endblock content %}

{% block aside %}


        <div class="feedback-container">
            <div class="feedback-form">
                <h2 class="form-title">Feedback Form</h2>

                <h4 class="feedback-paragraph">Hey there! We’d love to hear from you! Your feedback helps us improve and create a better experience for everyone.
                    Whether it's a suggestion, a bug you encountered, or just something you liked — feel free to share your thoughts below.</h4>

                <!-- Feedback Form -->
                <form method="POST" class="actual-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="feedback-submit-btn">Submit</button>
                </form>

            </div>
        </div>

    </div>
{% endblock %}


