{% extends "blog/base.html" %}
{% block content %}
  <div class="post-detail-container">
    <div class="post-detail">
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:'dS, F, Y' }}</small>
            {% if object.author == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{ object.title }}</h2>

          {% if object.image %}
            <img class="post-img" src="{{ object.image.url }}?w=800&h=800&fit=crop" alt="Uploaded image">
          {% else %}
            <p>No image available</p>
          {% endif %}

          <form action="{% url 'post_like' post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary btn-sm">
              Like
            </button> - {{ total_likes }}
            Likes
          </form>

          <p class="article-content">{{ object.content }}</p>

          <!-- Comment Section -->
          <h2>Comments</h2>

          <!-- Comment Form -->
          {% if user.is_authenticated %}
            <h5>Add Comment</h5>
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-secondary" type="submit">Add Comment</button>
            </form>
          {% else %}
            <h5><a href="{% url 'login' %}">Login</a> to Comment</h5>
          {% endif %}

        <!-- Display Comments -->
        {% if comments %}
          {% for comment in comments %}
            <div class="comment">
              <strong>{{ comment.name }} - {{ comment.date_added|date:"d M Y, H:i" }}</strong>
              <p>{{ comment.body }}</p>
            </div>
          {% endfor %}
        {% else %}
          <p>No comments yet.</p>
        {% endif %}


        </div>
      </article>
    </div>
  </div>
{% endblock content %}
