{% extends "blog/base.html" %}
{% load hashtag_filters %}
{% block content %}
  <div class="tag-page">
    <div class="tag-name">
      <h2>#{{ tag.name }}</h2>
    </div>

    {% for post in posts %}
      <div class="thumbnail-posts">
        <article class="tag-post-container">
          <div class="media-body">
            <div class="article-metadata">
              <img class="profile-pic"
                  src="{{ post.author.profile.image_url|add:'?c_thumb,g_face,w_150,h_150,r_max' }}"
                  alt="{{ user.username }}'s Profile Picture">

              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">
                {{ post.author }}
              </a>
            </div>

            <div class="image-grid">
              {% if post.image %}
                <a href="{% url 'post-detail' post.id %}" class="post-btn">
                  <img class="tiny-post-img" src="{{ post.image.url|add:'?c_fill,g_auto,w_150,h_150' }}" alt="Post Image">
                </a>
              {% else %}
                <p>No image available</p>
              {% endif %}
          </div>
          </div>
        </article>
      </div>
    {% empty %}
     <p>No posts found with this tag.</p>
    {% endfor %}
  </div>


  {% if is_paginated %}
    <div class="post-pagination">
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
      <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    </div>
  {% endif %}

{% endblock %}
